body {
  background-image: url('kuva139.jpg');
  background-repeat: repeat;
  background-color: light cyan;
  color: black;
  font-family: Arial, Verdana, Sans-Serif;
}

h1 {
  color: black;
  font-family: Arial, Verdana, Sans-Serif;
}

h2 {
  color: black;
  font-family: Arial, Verdana, Sans-Serif;
}

p {
  color: black;
  font-family: Arial, Verdana, Sans-Serif;
  font-size: 15px;
}

.hubbabubba {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 20px;
  max-width: 650px;
  margin: auto;
}

.topnav {
  background-color: #000000;
  color: #ffffff;
  font-size: 35px;
  font-family: Arial, Verdana, Sans-Serif;
  margin: auto;
  overflow: hidden;
  max-width: 690px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  fint-family: Arial, Verdana, Sans-Serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

.sidehustle {
  float: right;
  position: absolute;
  width: 20%;
  background-color: #000000;
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .topnav {padding-top: 15px;}
  .topnav a {font-size: 18px;}

}
