body {
  color: sienna;
  background-image: url('https://github.com/hellomoimoi/legendary-happiness/blob/main/kuva139.jpg');
}

h1 {
  color: saddle brown;
}

p {
  color: sienna;
}

.hubbabubba {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  padding: 30px;
  width: 660px;
}

