body {
  background-image: url('kuva139.jpg');
  background-repeat: no-repeat;
  color: sienna;
}

h1 {
  color: saddle brown;
}

p {
  color: sienna;
}

.hubbabubba {
  background:#7f7f7f;
  background:rgba(255,255,255,0.5);
  padding: 30px;
  width: 660px;
}

