body {
  background-image: url("kuva139.jpg");
  background-color: #404040;
  font-family: Arial, Verdana, Sans-Serif;
  margin-left: 40px;
  color: #ffffff;
}


h1 {
  color: #ffffff;
  font-family: Arial, Verdana, Sans-Serif;
  font-size: 35px;
}

h2 {
  color: orange;
  font-family: Arial, Verdana, Sans-Serif;
  font-size: 18px;
}

p {
  color: #ffffff;
  font-family: Arial, Verdana, Sans-Serif;
}

p.topnav {
  color: #ffffff;
  font-family: Arial, Verdana, Sans-Serif;
  font-size: 35px;
}

progress {
  color: orange;
}

aside
{
  float: right;
  width: 25%;
  height: 100%;
}

article {
   width: auto;
   padding-left: 20px;
   padding-top: 20px;
   padding-bottom: 100px;
   padding-right: 20px;
}

section {
    width: auto; 
    padding-right: 20%;
}

nav {
    width: auto; 
}

header {
    top: 0;
    width: auto; 
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("wood.jpg");
}

main {
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

footer {
    bottom: 0;
    width: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

footer a {
    color: #404040;
}

ol {
  list-style-type: lower-alpha;
  color: #ffffff;
}

ul {
  color: #ffffff;
}

a {
  color: orange;
  text-decoration: none;
}

.b1 {
  list-style-image: url(ratas3.png);
  
}

.profile-image {
  max-height: 200px;
  max-width: 200px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  
}

.contactpart {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 20px;
}

.column {
background-color: rgba(0, 0, 0, 0.8);
}


.columnl {
float: left;
width: 10%;
padding-top: 20px;
padding-bottom: 50px;
}

.columnr {
float: right;
width: 80%;
padding-top: 20px;
padding-bottom: 50px;
}


.sidenav {
width: 10%;
padding-top: 20px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 20px;

}

.hubbabubba {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-right: 20px;
  width: auto;
  margin: auto;
  font-size: 15px;
}

.header {
  color: #404040;
  font-size: 35px;
  font-family: Arial, Verdana, Sans-Serif;
  margin: auto;
  overflow: hidden;
  width: auto;
}

.topnav {
  background-color: rgba(0, 0, 0, 0.8);
  color: #404040;
  font-size: 35px;
  font-family: Arial, Verdana, Sans-Serif;
  margin: auto;
  overflow: hidden;
  width: auto;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Verdana, Sans-Serif;
  border-radius: 25px;
  color: orange;
}

.topnav a:hover {
  background-color: #ddd;
  color: #404040;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
}

.topnav a.active {
  color: #404040;
  border-radius: 25px;

}

.main {
  margin-left: 160px;
  padding: 0px 10px;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 100px;
  padding-right: 20px;
}
@media all and (min-width: 630px) {
#container {
}
#navbar {
  order: 2 ;
  width: 20%;
}
#content {
  order: 1 ;
  width: 80% ;
  }
img {
    width: 60%%;
  }
}
@media all and (max-width: 629px) {
  #container {
    display: flex ;
    align-items: stretch ;
    flex-flow: column wrap ;
  }
  #navbar {
    order: 2 ;
    width: 100%;
  }
  #content {
    order: 1 ;
    width: 100% ;
  }
  img {
    width: 100%;
  }
}

